<% provide(:title, "Help") %>

<h1>Help</h1>


<%= form_with(model: @image, url: images_path, method: :post, local: true, multipart: true) do |form| %>
    <%= form.label :file, 'Choose Image' %>
    <%= form.file_field :file %>
    <%= form.submit 'Upload Image' %>
  <% end %>
  
  
<p>
    Get help on the Ruby on rails Tutorial at the 
    <a href="http://www.railstutorial.org">Rails Tutorials Help page</a>.
</p>
<a href="https://google.com"><em>Google </em></a>



<%= select_tag :options, options_for_select({ "Option 1" => "1", "Option 2" => "2", "Option 3" => "3" }) %>

<div> Price is: <p id="price">0</p></div>

<script>
    document.getElementById("options").addEventListener("change", event => {
        setPrice();
    });
    
    function setPrice()
    {
        var list = { "1": "10", "2": "20", "3": "30"};
        var price = list[document.getElementById("options").value];
        document.getElementById("price").innerHTML= price;
    }
    setPrice();
    
</script>