<% provide(:title, "Inbox") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-6">
      <div class="panel">
        <!--Heading-->
        <div class="panel-heading">
          <h3 class="panel-title">Inbox</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <% current_user.received_messages.includes(:sender).group_by(&:sender).each do |sender, messages| %>
              <li class="mar-btm">
                <div class="media">
                  <div class="media-left">
                    <img src="<%= sender.images[0].cloudinary_url %>" class="img-circle img-sm" alt="Profile Picture">
                  </div>
                  <div class="media-body pad-hor">
                    <div class="speech">
                      <a href="<%= messages_path(sender) %>" class="media-heading"><%= sender.first_name %></a>
                      <p><%= messages.last.content %></p>
                      <p class="speech-time">
                        <i class="fa fa-clock-o fa-fw"></i> <%= messages.last.created_at %>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
