<div id="<%= dom_id booking %>">
  <p>
    <strong>Name:</strong>
    <%= booking.name %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= booking.room_type %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= booking.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= booking.check_out_date %>
  </p>

  <%= booking.id %> </br>
  <%= booking.hotel_id %>  </br>
  <%= booking.user_id %></br>
 
</div>
