<%= form_with(model: booking) do |form| %>
  
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :room_type, style: "display: block" %>
    <%= form.text_field :room_type %>
  </div>

  <div>
    <%= form.label :check_in_date, style: "display: block" %>
    <%= form.date_field :check_in_date %>
  </div>

  <div>
    <%= form.label :check_out_date, style: "display: block" %>
    <%= form.date_field :check_out_date %>
  </div>
  
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id, id: :booking_user_id, value: current_user.id %>
  </div>
  
  
  <div>
    <%= form.label :hotel_id, style: "display: block" %>
    <%= form.number_field :hotel_id, id: :booking_hotel_id, value: hotel.id %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
