<% provide(:title, "Profile") %>

</br>
<div class="container bg-danger-subtle" >
  <div class="row">
    <div class="col-md-10">
      <div class="jumbotron">
      <div class="d-flex flex-column">
        <%#= image_tag @user.images[0].cloudinary_url, class: "img-thumbnail align-self-start", alt: "Image 1", data: { bs_toggle: "modal", bs_target: "#imageModal" }%>
        
        <% if @user.images[0].present? %>
          <%= image_tag @user.images[0].cloudinary_url, class: "img-thumbnail align-self-start", alt: "Image 1", data: { bs_toggle: "modal", bs_target: "#imageModal" }%>
        <% end %>
        
        <%# if @images[0].present? %>
          <%#= image_tag @images[0].cloudinary_url, class: "img-thumbnail align-self-start", alt: "Image 1", data: { bs_toggle: "modal", bs_target: "#imageModal" } %>
        <%# else %>
          <!-- Handle case when images are nil or empty -->
          <%#= image_tag "", class: "img-thumbnail align-self-start", alt: "Default Image", data: { bs_toggle: "modal", bs_target: "#imageModal" } %>
        <%# end %>
        
        <%= button_tag "Show Photo Gallery", type: "button", class: "btn btn-primary align-self-start", data: { bs_toggle: "modal", bs_target: "#imageModal" } %>
      </div>
      
        <h3 class="display-4"><%= "#{@user.first_name} #{@user.last_name}"  %></h3>
        <p class="lead"><%= @user.location&.city %> | <%= @user.location&.state_region %> | <%= @user.location&.country %></p>
        <hr class="my-4">
        <p><%= @user.bio %></p>
        </br>
        <h4>"My Matches"</h5>
        <% if @matches.present? %>
            <% @matches.each do |matched_user| %>
                  <div class="card matches-card">
                    <div>
                      <%= image_tag matched_user.images[0].cloudinary_url, height: "150px", width: "159px", style: "object-fit: cover;", class: "card-img-top" %>
                      <div class="card-body">
                        <h6><p class="card-text"><%= matched_user&.first_name %> <%= matched_user&.last_name %></p></h6>
                        <%= button_to "Message Me", messages_path(matched_user), method: :get, class: "btn btn-primary" %>
                      </div>
                    </div>
                </div>
            <% end %>
        <% else %>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body text-center">
                    <h3>No matches yet.</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </br>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Photo Gallery</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @user.images.each do |image| %>
          <%= image_tag image.cloudinary_url, class: "img-fluid", id: "modalImage", alt: "Image", style: "width: 250px; height: 300px; object-fit: cover;" %>
        <% end %>  
      </div>
    </div>
  </div>
</div>


<script>
  // Script to display clicked image in modal
  document.querySelectorAll('.img-thumbnail').forEach(item => {
    item.addEventListener('click', event => {
      const imgSrc = event.target.src;
      document.getElementById('modalImage').src = imgSrc;
    });
  });
</script>






          







