<% provide(:title, 'All users') %>
<h1>All users</h1>



<% provide(:title, "Index") %>
</br>
<h1> Index </h1>
<table class="table table-hover table-bordered">
    <thead class="table-success">
      <tr>
        <th>First Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>User ID</th>
        <th>Admin?</th>
        <th>Gender</th>
        <th>Gender Interest</th>
        <th>Current User?</th>
        
      </tr>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= link_to user.email, '#' %></td>
          <td><%= user.location&.city %></td>
          <td><%= user.id %></td>
          <td><%= user.admin? %></td>
          <td><%= user.gender %></td>
          <td><%= user.gender_interest %></td>
          <td><%= current_user?(user) %></td>
      <% end %>
    </tbody>
</table>

<h1>Swipe Page</h1>
<div id="user-profile">
  <% if @user %>
    <div class="user-profile">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><%= @user.location %></p>
      <p><%= @user.bio %></p>
      <%= link_to "Like", like_user_path(@user), method: :post %>
      <%= link_to "Dislike", dislike_user_path(@user), method: :post %>
    </div>
  <% else %>
    <p>No more profiles to show.</p>
  <% end %>
</div>



