<div id="<%= dom_id hotel %>">
  <p>
    <strong>Hotel name:</strong>
    <%= hotel.hotel_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotel.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hotel.location %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= hotel.contact_number %>
  </p>

  <p>
    <strong>Amenities:</strong>
    <%= hotel.amenities %>
  </p>

  <p>
    <strong>Pricing:</strong>
    <%= hotel.pricing %>
  </p>

</div>
