<p style="color: green"><%= notice %></p>

<div class="row container-fluid">
  <% @hotels.each do |hotel| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <img src="/assets/kitten.jpg" class="card-img-top" alt="..." width="150px">
          <h4 class="card-title"><%= hotel.hotel_name %></h4>
          <p class="card-text"><%= hotel.description %></p>
          <!-- Add more attributes as needed -->
          <%= button_to "View Hotel", hotel_path(hotel.id), method: :get, class: "btn btn-primary" %>
          </br></br>
          <%= button_to "Book Now !", "/bookings/" + hotel.id.to_s + "/new", method: :get, class: "btn btn-primary" %></br></br></br>
          
          <%= hotel.id %>
          
        </div>
      </div>
    </div>
  <% end %>
</div>
</br>
<% link_to "New hotel", new_hotel_path %>
<%= button_to "New Hotel", new_hotel_path, method: :get, class: "btn btn-primary" %>